
<!-- Blog Start -->
<div class="container-fluid blog pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <p class="text-uppercase text-secondary fs-5 mb-0">BİLGİ & MAKALELER</p>
            <h2 class="display-4 text-capitalize mb-3">İzolasyon, yalıtım ve enerji tasarrufu üzerine son yazılar</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item h-100">
                    <div class="blog-img">
                        <img src="~/img/galeri/blog_isi_yalitimi.png" class="img-fluid w-100" alt="Blog 1">
                    </div>
                    <div class="blog-content p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <p class="mb-0"><i class="fa fa-calendar-check text-secondary me-1"></i> 26 Nisan 2025</p>
                            <p class="mb-0"><i class="fa fa-user text-secondary me-1"></i> Admin</p>
                        </div>
                        <a href="/Blog/isi_yalitimi_ile_enerji_tasarrufu_nasil_saglanir" class="h4 d-block mb-4">Isı Yalıtımı ile Enerji Tasarrufu Nasıl Sağlanır?</a>
                        <a class="btn btn-secondary py-2 px-4" href="/Blog/isi_yalitimi_ile_enerji_tasarrufu_nasil_saglanir">Devamını Oku</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="blog-item h-100">
                    <div class="blog-img">
                        <img src="~/img/galeri/blog_teras.png" class="img-fluid w-100" alt="Blog 2">
                    </div>
                    <div class="blog-content p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <p class="mb-0"><i class="fa fa-calendar-check text-secondary me-1"></i> 26 Nisan 2025</p>
                            <p class="mb-0"><i class="fa fa-user text-secondary me-1"></i> Admin</p>
                        </div>
                        <a href="/Blog/teras_izolasyonunda_dogru_malzeme_secimi" class="h4 d-block mb-4">Teras İzolasyonunda Doğru Malzeme Seçimi</a>
                        <a class="btn btn-secondary py-2 px-4" href="/Blog/teras_izolasyonunda_dogru_malzeme_secimi">Devamını Oku</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="blog-item h-100">
                    <div class="blog-img">
                        <img src="~/img/galeri/blog_ses_yalitimi.png" class="img-fluid w-100" alt="Blog 3">
                    </div>
                    <div class="blog-content p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <p class="mb-0"><i class="fa fa-calendar-check text-secondary me-1"></i> 26 Nisan 2025</p>
                            <p class="mb-0"><i class="fa fa-user text-secondary me-1"></i> Admin</p>
                        </div>
                        <a href="/Blog/ses_yalitimi__konfor_ve_kanitlanmis_cozumler" class="h4 d-block mb-4">Ses Yalıtımı: Konfor ve Kanıtlanmış Çözümler</a>
                        <a class="btn btn-secondary py-2 px-4" href="/Blog/ses_yalitimi__konfor_ve_kanitlanmis_cozumler">Devamını Oku</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
