<!-- Projects Start -->
<div class="container-fluid project py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <p class="text-uppercase text-secondary fs-5 mb-0">YAPILAN YALITIMLAR</p>
            <h2 class="display-4 text-capitalize mb-3">Son Tamamlanan Yalıtım Projelerimiz</h2>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="project-item">
                    <div class="row g-4">
                        <div class="col-md-4">
                            <div class="project-img">
                                <img src="~/img/galeri/halkali_paladyen_silim.png" class="img-fluid w-100 pt-3 ps-3" alt="Halkalı Paladyen Silim">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="project-content mb-4">
                                <p class="fs-5 text-secondary mb-2">Uzman izolasyon ve Yalıtım</p>
                                <a href="/halkali-paladyen-silim" class="h4"> Halkalı Paladyen Silim</a>
                                <p class="mb-0 mt-3">"Projemiz, 2 ay gibi titizlikle planlanmış bir sürede tamamlandı. Bu süre zarfında, sadece bir silim işlemi değil, zeminin dokusunu koruyarak derinlemesine bir yenileme süreci gerçekleştirdik. Her bir aşamada uyguladığımız uzman teknikler, zeminin ömrünü uzatırken, mekanın genel atmosferine de değer kattı. Bu sayfa, o emeğin, dikkatli planlamanın ve gözle görülür dönüşümün hikayesidir."</p>
                            </div>
                            <a class="btn btn-primary py-2 px-4" href="/halkali-paladyen-silim">Detay</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="project-item">
                    <div class="row g-4">
                        <div class="col-md-4">
                            <div class="project-img">
                                <img src="~/img/galeri/yakinda....png" class="img-fluid w-100 pt-3 ps-3" alt="Dış Cephe Mantolama">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="project-content mb-4">
                                <p class="fs-5 text-secondary mb-2">Uzman izolasyon ve Yalıtım</p>
                                <a href="#" class="h4">Yeni Projemiz Yakında..</a>
                                <p class="mb-0 mt-3">"Yeni projelerimiz, yenilenen yüzümüz ve sektördeki çığır açan çözümlerimizle çok yakında karşınızdayız! Heyecan verici gelişmeler için takipte kalın."</p>
                            </div>
                            <a class="btn btn-primary py-2 px-4" href="#">Detay</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 3 -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="project-item">
                    <div class="row g-4">
                        <div class="col-md-4">
                            <div class="project-img">
                                <img src="~/img/galeri/yakinda....png" class="img-fluid w-100 pt-3 ps-3" alt="Dış Cephe Mantolama">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="project-content mb-4">
                                <p class="fs-5 text-secondary mb-2">Uzman izolasyon ve Yalıtım</p>
                                <a href="#" class="h4">Yeni Projemiz Yakında..</a>
                                <p class="mb-0 mt-3">"Yeni projelerimiz, yenilenen yüzümüz ve sektördeki çığır açan çözümlerimizle çok yakında karşınızdayız! Heyecan verici gelişmeler için takipte kalın."</p>
                            </div>
                            <a class="btn btn-primary py-2 px-4" href="#">Detay</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 4 -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="project-item">
                    <div class="row g-4">
                        <div class="col-md-4">
                            <div class="project-img">
                                <img src="~/img/galeri/yakinda....png" class="img-fluid w-100 pt-3 ps-3" alt="Dış Cephe Mantolama">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="project-content mb-4">
                                <p class="fs-5 text-secondary mb-2">Uzman izolasyon ve Yalıtım</p>
                                <a href="#" class="h4">Yeni Projemiz Yakında..</a>
                                <p class="mb-0 mt-3">"Yeni projelerimiz, yenilenen yüzümüz ve sektördeki çığır açan çözümlerimizle çok yakında karşınızdayız! Heyecan verici gelişmeler için takipte kalın."</p>
                            </div>
                            <a class="btn btn-primary py-2 px-4" href="#">Detay</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-secondary py-3 px-5" href="/Proje/Index">Tüm Projeler</a>
            </div>
        </div>
    </div>
</div>
<!-- Projects End -->